.weather-item {
 .weather {
   display: flex;
   flex-direction: column;

   &__info {
     margin-top: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 20px;
   }

   &__img {
     width: 64px;
   }

   &__degree {
     font-size: 36px;
   }

   &__description {
     margin-top: 50px;
   }

   &__details {
     margin-top: 20px;
     display: flex;
     gap: 30px;

     .detail {
       display: flex;
       align-items: center;
       gap: 5px;

       &__image {
         width: 16px;
       }
     }
   }

   &__statistics {
     margin-top: 20px;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     column-gap: 10px;
     row-gap: 15px;
   }
 }
}
